@import '../../styles/variables';

.button {
  min-width: 100px;
  width: fit-content;
  padding: 4px 18px;

  border-radius: 30px;
  background-color: $primary-color;

  transition: background-color 300ms linear;

  &:hover {
    background-color: $button-hover;
    cursor: pointer;
  }

  &:disabled {
    color: $white;
    background-color: $button-disabled;
  }
}