@import '../../styles/variables';

.button {
  min-width: 100px;
  padding-block: 4px;

  border-radius: 30px;
  background-color: $primary-color;

  transition: background-color 300ms linear;
  
  &:hover {
    background-color: $button-hover;
    cursor: pointer;
  }

  &:disabled{
    background-color: $button-disabled;
  }
}