@import '../../../styles';

$input-border-radius: 4px;

.form {
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  max-width: 380px;

  // @include onTablet {}

  // background-color: #9b0000;
}

.textFieldsWrapper {
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 43px;
}

.textFieldLabel {
  position: absolute;
  top: 14px;
  left: 17px;

  color: $label-color;
  pointer-events: none;
  transition: top 100ms cubic-bezier(.17, .67, .14, .99);
}

.inputWrapper {
  position: relative;

  &:focus-within .textFieldLabel {
    top: -12px;
    left: 12px;
    font-size: 14px;
    padding-inline: 4px;
    background-color: $background-color;
  }
}

.textFieldLabelOnTop {
  top: -12px;
  left: 12px;
  font-size: 14px;
  padding-inline: 4px;
  background-color: $background-color;
}

.textFieldLabelError {
  color: $error-color;
}

.textField {
  padding: 13px 16px;
  width: 100%;
  border: 1px solid #D0CFCF;
  border-radius: $input-border-radius;
  background-color: $background-color;
}

.tip {
  position: absolute;
  bottom: -18px;
  left: 16px;
  font-size: 12px;
  line-height: 14px;
  color: $label-color;

  @include onTablet {
    left: 17px;
    bottom: -14px;
  }

  @include onDesktop {
    left: 16px;
    bottom: -18px;
  }
}

.inputFileLabel {
  display: flex;
  align-items: center;
}

.inputFileButton {

  padding: 13px 14px 13px 16px;
  border: 1px solid $black-87;
  border-radius: $input-border-radius 0 0 $input-border-radius;
}

.inputFileInfo {
  padding: 13px 16px;
  width: 100%;
  border: 1px solid #D0CFCF;
  border-left: none;
  border-radius: 0 $input-border-radius $input-border-radius 0;
}