@import '../../node_modules/modern-normalize/modern-normalize';
@import './fonts';
@import './mixins';

html {
  background-color: $background-color;
}

body {
  color: $black-87;

  @include onBigDesktop {
    padding-inline: 695px
  }
}

button {
  @include typographyBody;

  background-color: transparent;
  border: none;
  color: $black-87;
}

h1 {
  margin: 0;
}

p {
  margin: 0;
}