@import '../../../../styles';

$input-field-height: 54px;
$input-border-radius: 4px;

.textFieldLabel {
  position: absolute;
  top: 14px;
  left: 16px;

  color: $label-color;
  pointer-events: none;
  transition: top 100ms cubic-bezier(.17, .67, .14, .99);
}

.inputWrapper {
  position: relative;

  &BottomMargin {
    margin-bottom: 50px;
  }

  &:focus-within .textFieldLabel {
    top: -12px;
    left: 12px;
    font-size: 14px;
    padding-inline: 4px;
    background-color: $background-color;
  }
}

.textFieldLabelOnTop {
  top: -12px;
  left: 12px;
  font-size: 14px;
  padding-inline: 4px;
  background-color: $background-color;

  &Error {
    color: $error-color;
  }
}

.textField {
  padding: 0 16px;
  height: $input-field-height;
  width: 100%;
  border: 1px solid #D0CFCF;
  border-radius: $input-border-radius;
  background-color: $background-color;

  &:focus {
    outline: none;
    border-width: 2px;
    border-color: $black-87;
  }

  &Error {
    border-color: $error-color;
    border-width: 2px;
  }

  &Error:focus {
    border-color: $error-color;
    outline-color: $error-color;
  }
}

.tip {
  position: absolute;
  bottom: -18px;
  left: 16px;
  font-size: 12px;
  line-height: 14px;
  color: $label-color;

  &Error {
    color: $error-color;
  }

  @include onTablet {
    left: 17px;
    bottom: -14px;
  }

  @include onDesktop {
    left: 16px;
    bottom: -18px;
  }
}