.header {
  // min-width: 360px;
  height: 60px;
  padding-block: 13px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

}

.logo {
  width: 104px;
  height: 26px;
}

.logoLink {
  display: flex;
}