// breakpoints
$min-width-mobile: 360px;
$min-width-tablet: 768px;
$min-width-desktop: 1024px;
$min-width-big-desktop: 2560px;

// paddings
$inline-padding-mobile: 16px;
$inline-padding-tablet: 32px;
$inline-padding-desktop: 60px;

// margins
$section-margin: 140px;

// typography
$body-text-line-height: 26px;