@import './responsive';
@import '../fonts';

@mixin typographyHeading1 {
  font-family: Nunito, sans-serif;
  font-size: 40px;
  line-height: 40px;
}

@mixin typographyBody {
  font-family: Nunito, sans-serif;
  font-size: 16px;
  line-height: 26px;
}
